.chart-container{
    border-radius: 10px;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.current-status-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}