.scheduleChart{
    height: 100px;
}

.card{
    margin: 10px;
    width: calc(33.33% - 20px);
}

.content{

    display: flex;
    align-items: center;
    justify-content: space-between;

    h4{
        margin: 0;
    }

    h5{
        margin: 0;
    }
}