:root{
    --text-color: #5C5C5C;
    --navbar-height: 46px;
    --box-shadow-default: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 14px rgba(103, 129, 177, 0.2);
}

body{
    overflow: hidden;
}

.App{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.navbar{
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2196F3;
    color: white;
    display: flex;
    align-items: stretch;
    box-shadow: var(--box-shadow-default);

    .sidebar-button{
        color: inherit;
    }

    .info{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;

        .right{
            margin-right:20px;
        }

        .temperature{
            font-size: 18px;
            color: inherit;
            font-weight: 400;
        }
    }
}

.sidebar{
    position: fixed;
    height: 100vh;
    display: flex;
    z-index: 5000;
    transition: ease 250ms;
    will-change: translate;

    .sidebar-container{
        width: 250px;
        background-color: white;
        box-shadow: var(--box-shadow-default);
        overflow: auto;
        transition: ease 250ms;
        will-change: box-shadow;

        .sidebar-header{
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .sidebar-sub-header{
            width: 100%;
            text-align: center;
            margin: 0 0 10px 0;
            font-weight: 300;
        }
    }

    .sidebar-dim{
        width: 100vw;
        background-color: #0008;
        transition: ease 250ms;
        will-change: background-color;
    }

    &.hidden{

        transform: translateX(-250px);
        pointer-events: none;

        .sidebar-dim{
            background-color: #0000;
        }

        .sidebar-container{
            box-shadow: none;
        }
    }
}

.content{
    margin-top: var(--navbar-height);
    overflow: auto;
    align-self: stretch;
    flex: 1;
}

.loading:empty{
    border-radius: 100%;
    border: 4px solid rgb(204, 204, 204);
    border-top: 4px solid #2196F3;
    width: 56px;
    height: 56px;
    animation: loading 1.5s linear infinite;
}

@keyframes loading{
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}