$text-primary: #5C5C5C;
$border-radius-default: 6px;
$box-shadow-default: 0 0 12px 0 rgba(0,0,0,0.20);
$box-shadow-sm: 0 0 8px 0 rgba(0,0,0,0.30);

#root{
  align-self: stretch;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.menu{
  width: 25%;
  box-shadow: 0 0 12px #0002;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .temperature{
    color: $text-primary;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    height: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-default;
  }

  & > a{
    cursor: pointer;
    text-decoration: none;
    color: $text-primary;
    margin: 10px;
    padding: 10px;
    height: 35px;
    min-height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid $text-primary;
    border-radius: $border-radius-default;

    &:hover{
      background: rgba(109, 160, 160, 0.133)
    }
  }
}

.body{
  width: 75%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.refresh-button{
  width: 38px;
  height: 38px;
  color: $text-primary;
}

.graph-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.graph-canvas{
}

.schedules-container{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.schedule-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: calc(50% - 32px);
  margin: 15px;
  border-radius: $border-radius-default;
  border: 1px solid $text-primary;


  p{
    margin: 10px;
  }

  table{
    margin: 10px;
    margin-top: 0;
  }
}

.controls-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;

  select{
    padding: 5px;
  }

  .controls{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .preview{
    width: 50%;

    .schedule-item{
      width: auto;
    }
  }
}

.start-stop-container{

  margin: 15px 0;

  .start{

  }

  .stop{

  }

  .btn{
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    border: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: $text-primary;
  }
}

.settings-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}